@font-face {
  font-family: fontBlack;
  src: url("../fonts/Cairo/Cairo-Black.ttf");
}

@font-face {
  font-family: fontBold;
  src: url("../fonts/Cairo/Cairo-Bold.ttf");
}

@font-face {
  font-family: fontExtraLight;
  src: url("../fonts/Cairo/Cairo-ExtraLight.ttf");
}

@font-face {
  font-family: fontLight;
  src: url("../fonts/Cairo/Cairo-Light.ttf");
}

@font-face {
  font-family: fontRegular;
  src: url("../fonts/Cairo/Cairo-Regular.ttf");
}

@font-face {
  font-family: fontSemiBold;
  src: url("../fonts/Cairo/Cairo-SemiBold.ttf");
}

/* line 3, C:/Users/SmartSO/Desktop/osama/Projects/PalestineHistory/Static/sass/date.scss */
div.datedropper.date {
  border-radius: 8px;
  width: 160px;
  display: none;
}

/* line 7, C:/Users/SmartSO/Desktop/osama/Projects/PalestineHistory/Static/sass/date.scss */
div.datedropper.date .picker {
  border-radius: 8px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.16);
}

/* line 11, C:/Users/SmartSO/Desktop/osama/Projects/PalestineHistory/Static/sass/date.scss */
div.datedropper.date .pick-l {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* line 15, C:/Users/SmartSO/Desktop/osama/Projects/PalestineHistory/Static/sass/date.scss */
div.datedropper.date:before {
  background: #02ccba;
}

/* line 18, C:/Users/SmartSO/Desktop/osama/Projects/PalestineHistory/Static/sass/date.scss */
div.datedropper.date.picker-lg {
  width: 350px !important;
}

/* line 23, C:/Users/SmartSO/Desktop/osama/Projects/PalestineHistory/Static/sass/date.scss */
div.datedropper.date .pick-submit,
div.datedropper.date .pick-lg-b .pick-sl:before,
div.datedropper.date .pick-m,
div.datedropper.date .pick-lg-h {
  background-color: #02ccba;
}

/* line 30, C:/Users/SmartSO/Desktop/osama/Projects/PalestineHistory/Static/sass/date.scss */
div.datedropper.date .pick-y.pick-jump,
div.datedropper.date .pick li span,
div.datedropper.date .pick-lg-b .pick-wke,
div.datedropper.date .pick-btn {
  color: #02ccba;
}

/* line 37, C:/Users/SmartSO/Desktop/osama/Projects/PalestineHistory/Static/sass/date.scss */
div.datedropper.date .picker,
div.datedropper.date .pick-l {
  background-color: #fff;
}

/* line 42, C:/Users/SmartSO/Desktop/osama/Projects/PalestineHistory/Static/sass/date.scss */
div.datedropper.date .picker,
div.datedropper.date .pick-arw,
div.datedropper.date .pick-l {
  color: #4D4D4D;
}

/* line 48, C:/Users/SmartSO/Desktop/osama/Projects/PalestineHistory/Static/sass/date.scss */
div.datedropper.date .pick-m,
div.datedropper.date .pick-m .pick-arw,
div.datedropper.date .pick-lg-h,
div.datedropper.date .pick-lg-b .pick-sl,
div.datedropper.date .pick-submit {
  color: #fff;
}

/* line 56, C:/Users/SmartSO/Desktop/osama/Projects/PalestineHistory/Static/sass/date.scss */
div.datedropper.date.picker-tiny:before,
div.datedropper.date.picker-tiny .pick-m {
  background-color: #fff;
}

/* line 61, C:/Users/SmartSO/Desktop/osama/Projects/PalestineHistory/Static/sass/date.scss */
div.datedropper.date.picker-tiny .pick-m,
div.datedropper.date.picker-tiny .pick-m .pick-arw {
  color: #4D4D4D;
}

/* line 66, C:/Users/SmartSO/Desktop/osama/Projects/PalestineHistory/Static/sass/date.scss */
div.datedropper.date.picker-lkd .pick-submit {
  background-color: #fff;
  color: #4D4D4D;
}

/*# sourceMappingURL=../css/date.map */