{% load staticfiles %}
<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    {% endblock %}
    <title>{{ title }}</title>
    <link rel="icon" href="{% static 'image/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block rtl %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="//www.fontstatic.com/f=sky-bold,vip-hakm"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block style %}
    {% endblock %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body class="nice">
{% block nav %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-right">
                <button type="button" class="navbar-toggle collapsed my-left" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <style>
                i.fa {
                    padding-left: 5px;
                }

                .dropdown-menu > li > a {
                    padding: 3px 10px;
                }

                body {
                    padding-top: 50px !important;
                }
            </style>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if session_user %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user" style="text-align: right">
                                <li><a href="{% url 'Client:ProfileClient' client.username %}"><i
                                        class="fa fa-user"></i>الصفحة
                                    الشخصية</a></li>
                                <li><a href="{% url 'Client:SettingsClient' client.username %}"><i
                                        class="fa fa-cogs"></i>الإعدادات</a>
                                </li>
                                <li class="divider"></li>

                                <li><a href="{% url 'Client:logoutClient' client.username %}"><i
                                        class="fa fa-sign-out-alt"></i>تسجيل الخروج</a></li>
                                ‏
                            </ul>
                        </li>
                    {% endif %}
                    <li><a href="/">الرئيسية</a></li>
                </ul>
            </div>

        </div>
    </nav>
{% endblock %}
{% block body %}
{% endblock %}
{% block nice_scroll %}
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script>
        $(".nice, .select-wrapper .dropdown-menu > ul").niceScroll();
    </script>
{% endblock %}
{% block bootstrap-select %}
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script>
        $('select').selectpicker();
    </script>
{% endblock %}
<script src="{% static 'js/datedropper.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block script %}
{% endblock %}
</body>
</html>